<footer class="big-footer">
  <div class="left">
    <img src="../../assets/logo-white-animated.svg" alt="DOME Registry Logo"/>
    <p>DOME Registry</p>
  </div>
  <div class="right">
    <div class="middle">
      <div class="middle-container">
        <p>Home</p>
        <p>Statistics</p>
        <p>About us</p>
        <p>Browse</p>
      </div>
      <div class="middle-container">
        <p>API</p>
        <p>Submit</p>
      </div>
      <div class="middle-container">
        <p>Contact us</p>
      </div>
    </div>
    <div class="right-right">
      <p>Valisneri Department, University of Padova</p>
      <p>+39 546 789 126</p>
      <p>BioComputing Laboratory</p>
      <a href="https://github.com/BioComputingUP/dome-registry/" target="_blank" class="github-link" aria-label="GitHub Repository">
        <img src="../../assets/github-logo.svg" alt="GitHub Repository"/>
      </a>
    </div>
  </div>
</footer>
