.big-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 55px 8% 45px;
  background-color: #002132;
  color: #fff;

  p {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    padding: 40px 6% 30px;
  }

  @media (max-width: 576px) {
    padding: 30px 5% 20px;
  }

  @media (max-width: 480px) {
    padding: 25px 4% 15px;

    p {
      font-size: 14px;
    }
  }
}


.left {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;

  img {
    width: 50px;
  }

  p {
    margin: 0;
    color: #fff;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    color: #fff;
    text-decoration: none;
  }

  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: 480px) {
    img {
      width: 40px;
    }

    gap: 10px;

    a {
      gap: 10px;
    }
  }
}

.right {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 992px) {
    width: 100%;
    flex-direction: column;
  }
}

.middle {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 95px;

  p {
    margin: 0;
    color: #fff;
  }

  @media (max-width: 992px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    gap: 40px;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    gap: 20px;
  }
}

.middle-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  a {
    color: #fff;
    text-decoration: none;
  }

  @media (max-width: 576px) {
    gap: 20px;
  }
}

.right-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;

  p {
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 5px;
  }

  .github-link {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 28px;
      height: 28px;
    }
  }

  @media (max-width: 992px) {
    width: 100%;
    align-items: flex-start;
    margin-top: 10px;
  }

  @media (max-width: 480px) {
    .github-link {
      margin-top: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

:host {
  display: block;
  width: 100%;
}
