@import "/src/styles/cursor";
@import "/src/styles/flip";

.sort-item {
  @extend .cursor-pointer;
}

.sort-item > i {
  visibility: hidden;
}

.sort-item.sort-asc > i {
  @extend .flip-180;
}

.sort-item.sort-selected > i {
  visibility: visible !important;
}
.border-orange {
  border-color: #F46B17;
}

.tag {
  background-color: #F46B17;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 1;
}
