@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/base';

.score-container {
  @extend %full-width;
  @include flex(row, space-between, center, 10px);

  h1, p {
    color: $color-black;
    @include font(16px, 600);
    @extend %reset-margin;
  }
}

.score-wrapper {
  @include size(168px, 12px);
  border-radius: 6px;
  background-color: $primary;
}

.score {
  height: 100%;
  /* Width is now set dynamically in the template */
  border-radius: 6px;
  background-color: $secondary;
}

:host {
  @extend %full-width;
}
