@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.stat-card {
    background: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.publication-card {
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}


.dome{

    color: #f47d20;
    font-family: Inter;
}
#intro{
    font-family: Inter;
    //ont-size: 55px;
    font-style: normal;
    //font-weight: 700;
    //line-height: normal;
}

.logo{
    width: 120%;
    height: 120%;

    margin: auto;
}

/* Flex container for cards */
.card-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0;
    transition: transform 0.3s ease-out;
}

/* Individual card styling */

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 40px;
  }
  
  .card-wrapper {
    overflow: hidden;
    display: inline-block;
    width: 300px;
    margin: 10px;
    transition: transform 0.2s;
  }
  

.card{
 border-radius: 10px 10px 0 0;
    
    //padding: 20px;
    //text-align: center;
    
    
}

.btn-gradient {
    background: linear-gradient(90deg, #F66729, #FF922B);
    color: black;
    border: none;
   border-radius: 0;
 
}

  
  .scroll-arrow:hover {
    background: #f8f9fa;
  }
  
  .arrow-left {
    left: 0;
  }
  
  .arrow-right {
    right: 0;
  }
  
  .scroll-arrow::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
  }
  
  .arrow-left::after {
    transform: rotate(-135deg);
    margin-left: 4px;
  }
  
  .arrow-right::after {
    transform: rotate(45deg);
    margin-right: 4px;
  }