<div id="outer-div" class=" container-fluid bg-primary bg-gradient w-100 h-100">
  <div id="inner-div" class="row  overflow-auto w-100 h-100">
    <div class="align-self-start align-self-md-center">
      <div class="card bg-transparent shadow-lg m-5">
        <!-- Card header -->
        <div class="card-header rounded-top text-white">
          <div class="d-none d-md-flex flex-row ">
            <div class="d-block flex-grow-1">
              <h1 class="d-none d-md-block">About the DOME Registry</h1>
            </div>
          </div>
        </div>
        <div class="card-body rounded-bottom bg-white ">
          <!-- 2 -->
          <ul class="nav list-unstyled">
            <li>
              <h4>DOME Registry curation </h4>
              <p class="d-flex w-100">
                The central activity in DOME Registry is the curation of
                Intrinsically of machine learning methods in biology from
                relevant publications.<br />
                Data collection, annotation and integration in The DOME Registry
                is the result of an effort of expert curators. <br />
                Curators annotate machine learning methods through
                data stawardship wizard instance which is a dedicated curation
                interface
              </p>
            </li>
            <li>
              <div class=" align-items-center w-100 pl-3">
                <img class="p-3" src="https://apicuron.org/assets/APICURON.svg" alt="APICURON logo" />
              </div>
              <div class="d-flex p3-3">
                <p class="d-block w-100">
                  DOME registry is now a parter resource of <a href="https://apicuron.org/">APICURON.</a> <br>
                  Each annotation submitted from <a href="https://dome.dsw.elixir-europe.org">DOME wizard</a> and
                  published in
                  the DOME Registry is a recognized activity by APICURON.
                </p>
              </div>
            </li>
          </ul>
          <ul class="nav list-unstyled">
            <li>
              <h4>Contact us</h4>
              <p class="d-block w-100">
                Have a question or encountered an issue?<br />
                Please don't hesitate to reach out to us at
                <b>contact&#64;dome-ml.org</b> for assistance and
                support
              </p>

              <!-- HOW TO CITE -->
              <h4>How to cite</h4>
              <p class="d-block w-50">
                <b>DOME Registry: implementing community-wide recommendations for reporting supervised machine learning in biology.
                </b>
                <br>
                Omar Abdelghani Attafi, Damiano Clementel, Konstantinos Kyritsis, Emidio Capriotti, Gavin Farrell, Styliani-Christina Fragkouli, Leyla Jael Castro, András Hatos, Tom Lenaerts, Stanislav Mazurenko, Soroush Mozaffari, Franco Pradelli, Patrick Ruch, Castrense Savojardo, Paola Turina, Federico Zambelli, Damiano Piovesan, Alexander Miguel Monzon, Fotis Psomopoulos, Silvio C E Tosatto, GigaScience, Volume 13, 2024, giae094
                <br> <b>DOI: </b> <a href="https://doi.org/10.1093/gigascience/giae094">10.1093/gigascience/giae094<i class="bi bi-link-45deg"></i></a> <br>  
                <!-- <b> PubMed: </b> <a href="https://pubmed.ncbi.nlm.nih.gov/34316068/">34316068<i class="bi bi-link-45deg"></i></a>
               -->
              </p>  
              
              
                 <p class="d-block w-100">
                <b>DOME: recommendations for supervised machine learning validation in biology.</b>
                <br>
                Walsh, I., Fishman, D., Garcia-Gasulla, D. et al.  Nat Methods 18, 1122–1127 (2021).
              <br> <b>DOI: </b> <a href="https://doi.org/10.1038/s41592-021-01205-4">10.1038/s41592-021-01205-4<i class="bi bi-link-45deg"></i></a> <br>
              <b> PubMed: </b> <a href="https://pubmed.ncbi.nlm.nih.gov/34316068/">34316068<i class="bi bi-link-45deg"></i></a>
            </p>
               
              
              <!-- Mirroring informations -->
              <h4>DOME Registry mirroring</h4>

              <p class="d-block w-100">
                DOME registry first mirroring example is available here: <a href="https://registry.dome-ml.inab.certh.gr"
                  target="_blank">https://registry.dome-ml.inab.certh.gr<i class="bi bi-link-45deg"></i> </a>
              </p>
              <p class="d-block w-100">
                For more information about the DOME Registry mirroring please check our repository <a
                  href="https://github.com/BioComputingUP/dome-registry">here </a>

              </p>
              <!-- -----------2nd row ------------ -->
              <h4>License</h4>
              <p class="d-block w-100">
                <img src="/assets/licence.png" alt="Creative Commons Attribution 4.0 International License" />
                This work is licensed under a
                <a href="https://creativecommons.org/licenses/by/4.0/">
                  Creative Commons Attribution 4.0 International License.</a>
              </p>
            </li>
          </ul>
          <!-- 1st row -->

          <!-- ------------3rd row------------------ -->
          <h4>Privacy notice</h4>
          <p class="d-block w-100">
            This privacy notice explains what personal data is collected by DOME
            Registry, for what purposes, how it is processed, and how we keep it
            secure.
          </p>
          <h5>Who controls your personal data ?</h5>
          <ul class="nav">
            <li>
              <p><b>Data </b> cotroller's contact detail are:</p>
              <p>
                <i class="bi bi-person-circle"></i> Professor Silvio Tosatto
              </p>
              <P><i class="bi bi-mortarboard"></i> University of Padua,
                department of Biomedocal Science</P>
              <p><i class="bi bi-mailbox"></i> Viale G. Colombo 3</p>
              <p><i class="bi bi-geo-alt"></i> 35131 Padua, Italy</p>
              <P> <i class="bi bi-telephone"></i> +39 049 827 6269 </P>
              <P><i class="bi bi-envelope"></i> contact&#64;dome-ml.org</P>
            </li>
            <li>
              <p><b>Data protection officer </b>'s contact detail are:</p>
              <p>
                <i class="bi bi-person-circle"></i> Director of the Department
                of Biomedical Sciences, University of Padua
              </p>
              <P><i class="bi bi-mortarboard"></i> University of Padua,
                department of Biomedocal Science</P>
              <p><i class="bi bi-mailbox"></i> Viale G. Colombo 3</p>
              <p><i class="bi bi-geo-alt"></i> 35131 Padua, Italy</p>
              <P><i class="bi bi-telephone"></i> +39 049 827 6047 </P>
              <P><i class="bi bi-envelope"></i> privacy&#64;unipd.it</P>
            </li>
          </ul>
          <h5>What is our lawful basis for processing your personal data?</h5>
          <p class="d-block w-100">
            Processing your personal data is necessary for our legitimate
            interest of allowing the day-to-day management, operation and
            functioning of DOME Registry.
          </p>
          <h5>How will your personal data be used</h5>
          <p class="d-block w-100">We will use the personal data to:</p>
          <ul>
            <li>
              <p class="d-block w-100">Provide user access to the service</p>
            </li>
            <li>
              <p class="d-block w-100">Create anonymous usage statistics</p>
            </li>
          </ul>
          <h5>Who will have access to your personal data?</h5>
          <p>
            The personal data will be disclosed to authorized DOME registry
            staff.
          </p>
          <h5>
            Will your personal data be transferred to third countries (i.e.
            countries not part of EU/EAA) and/or international organisations?
          </h5>
          <p class="d-block w-100">
            Personal data is transferred to the following service provider based
            in a third country which the DOME Registry relies on to provide the
            service:
          </p>
          <ul>
            <li>
              <p class="d-block w-100">Google Analytics</p>
            </li>
          </ul>
          <p class="d-block w-100">
            There are no personal data transfers to international organisations.
          </p>
          <h5>How long do we keep your personal data?</h5>
          <p class="d-block w-100">
            Any personal data directly obtained from you will be retained as
            long as the service is live, even if you stop using the service.
          </p>
          <p>
            We will keep the personal data for the minimum amount of time
            possible to ensure legal compliance and to facilitate internal and
            external audits if they arise.
          </p>
          <p>
            Access to the web and security logs containing personal data are
            restricted to relevant DOME Registry staff.
          </p>

          <h5>Your rights regarding your personal data</h5>
          <p>You have the right to</p>
          <ol>
            <li>
              Not be subject to decisions based solely on an automated
              processing of data (i.e. without human intervention) without you
              having your views taken into consideration.
            </li>
            <li>
              Request at reasonable intervals and without excessive delay or
              expense, information about the personal data processed about you.
              Under your request we will inform you in writing about,<br />
              for example, the origin of the personal data or the preservation
              period.
            </li>
            <li>
              Request information to understand data processing activities when
              the results of these activities are applied to you.
            </li>
            <li>
              Object at any time to the processing of your personal data unless
              we can demonstrate that we have legitimate reasons to process your
              personal data.
            </li>
            <li>
              Request free of charge and without excessive delay rectification
              or erasure of your personal data. It must be clarified that rights
              4 and 5 are only available whenever the processing of your
              personal data is not necessary to:
            </li>
            <ul>
              <li>Comply with a legal obligation.</li>
              <li>Perform a task carried out in the public interest.</li>
              <li>Exercise authority as a data controller.</li>
              <li>
                Archive for purposes in the public interest, or for historical
                research purposes, or for statistical purposes.
              </li>
              <li>Establish, exercise or defend legal claims.</li>
            </ul>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>