<div class="about-background">
  <div class="about-center">
    <h1>About DOME</h1>
    <p>
      Welcome to DOME: the Data Operations Methodology Explorer. DOME represents a community-driven effort, originating
      within the ELIXIR Machine Learning Focus Group, to improve the transparency, reproducibility, and reusability of
      machine learning methods applied in the life sciences and beyond. It comprises two key components: the DOME
      Recommendations and the DOME Registry.
    </p>
  </div>

  <div class="white-divider" id="white-divider"></div>

  <div class="dome-recommendations">
    <span class="line line-2"></span>

    <p class="dome-recommendations-title">
      DOME Recommendations
    </p>
    <div class="progress-bar-container">
      <div class="progress-bar"></div>
    </div>
    <div class="dome-recommendations-content">
      <p>Challenges</p>
      <p>Solution</p>
      <p>Key Principles</p>
      <p>Goals</p>
    </div>
    <div class="recoms">
      <h3>Bridging the ML Reproducibility Gap in Scientific Discovery</h3>
      <p>Machine learning (ML) is transforming scientific discovery, but describing complex ML methods adequately in
        traditional publications is challenging. This often hinders understanding, comparison, replication, and reuse,
        contributing to a "reproducibility crisis" in computational research.</p>
    </div>
    <div class="machine-learning-container">
      <div class="machine-learning">
        <img src="assets/_Group_.svg" alt="DOME Illustrations" class="dome-illustration">


        <p>Machine Learning</p>
      </div>
      <div class="transparency-container">
        <div class="transparency">
          <p>Transparency</p>
        </div>
        <div class="transparency">
          <p>Documentation</p>
        </div>
        <div class="transparency">
          <p>Reproducibility</p>
        </div>
      </div>
      <div class="traditional-publications">
        <img src="assets/_Group_.svg" alt="DOME Illustrations" class="dome-illustration">

        <p>Traditional Publications</p>
      </div>
    </div>

  </div>
</div>
