.counter
{
   
    text-align: center;
}
.counter-count
{
    font-size: 18px;
    // background-color: ;
    background-image:linear-gradient(#F46B17,#0F3E62)  ;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    left: 50%;
    margin-top:20px;
}

.designer{
    font-size: 18px;
   
     color: white;
     
 
}
.design{
    left: 50%;
    position: relative;

}


h5,h1{
    text-align: center;
}
