



ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}





.dashboard {
    background: #172042;
    padding: 2em;

    grid-template-columns:1fr 1fr 1fr ;
    justify-content: center;
    width:calc(100% - 18em);


}


.list li {
display: flex;
justify-content: space-between;
align-items: center;


}
.list li:not(:last-child){
    margin-bottom: 1px;
    border-bottom:2px #2a335e solid;

}

.list span{
    color: #F46B17;

}

.sales {

    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-gap: 2em;
//    margin : 2em 0 ;

}
.sales > div {
    box-shadow:
    0 0 15px rgba( 0,0,0,0.5);
    border-radius:15px;
    padding: 1em;
}
.sales h1 {
  margin: 0.5em 0;
}
.sales small {
 color: #fff;
}
.sales > div:nth-child(even) {
    background: linear-gradient(0deg,#3581bb,#F46B17);

}
.sales > div:nth-child(odd){
background: linear-gradient(0deg, #178add,#03dcee);
}

.text {
    padding:1em;
}


.scientificChart {
    grid-column-start: span 3;
}
@media screen and (max-width: 1150px) {
    .dashboard, .sales{
    grid-template-columns: 1fr 1fr;
    }

    .text-horizontal {

        grid-column-start: span 1;
    }
}
    @media screen and (max-width: 1050px) {
        .sidebar {
             max-width: initial;
             text-align: center;
             padding: 5em 1em 1em 1em;

        }
    .sidebar a span:not(.material-icon),
    .note,
    .sidebar-footer,
    .title {
        display: none;

    }
    .sidebar a .material-icon {
        margin: 0;
    }
    .dashboard {
       width: calc(100% - 4.1em);
    }




}

.col-6.panel.list{
  align-content: center;
}

td, th {
    border-width: 2px; /* Adjust the value to your desired thickness */
  }
