<div id='outer-div' class="dashboard w-100 h-100 overflow-x-hidden bg-primary" >


  <div id="inner-div" class="overflow-y-auto overflow-x-hidden w-100 h-100">


    <!-- Card header -->
    <div class=" container text-white  ">

      <div class="row">

        <div class="sales mb-3 text-white  ">
          <div class="col-3 w-auto">
            <h4>Users</h4>
            <h1>{{ countPreson | async }}</h1>

          </div>
          <div class="col-3 w-auto">
            <h4>
              Public annotations
            </h4>
            <h1>{{ countCounter$ | async }} </h1>

          </div>
          <div class="col-3 w-auto">
            <h4>Private annotations </h4>
            <h1>{{ countProgres$ | async }}</h1>

          </div>
          <div class="col-3 w-auto">
            <h4>Total annotations </h4>
            <h1>{{ countTotalE$ | async }}</h1>


          </div>
        </div>

      </div>

      <div class="row m-2">

        <!-- start of the card -->
        <div class="card">
          <div class="card-body .">
            <div class="card-title costum-card-hearder text-black text-center mb-4 "><h2>Top 10 annotated journals </h2>
            </div>

            <div class="row  text-black">
              <div class="col-md-6 panel list ">
                <li>
                  <h3>Journal</h3>
                  <span>Annotations </span>
                </li>
                <!-- shows the 9 first journals-->
                <li *ngFor="let group of journalsNames$ | async">
                  <b><p class="text-black">{{ group._id }}</p></b>
                  <span>{{ group.count }}</span>
                </li>
                <!-- shows the other journals at the end -->
                <li>
                  <b><p class="text-black">Other</p></b>
                  <span>{{ otherCount$ | async }}</span>
                </li>


              </div>
              <div class="col-md-6 my-auto">
                <ng-container [ngTemplateOutlet]="section"
                              [ngTemplateOutletContext]="{ title: 'Top Journals', id: 'journal', graph: journal$ | async }"></ng-container>

              </div>


            </div>
          </div>
          <!-- the end of the card  -->
        </div>
      </div>


      <div class="row m-2">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-title text-black "><h2>Number of Annotated Papers (Based on Publication Year)</h2></div>
            <div class="row text-black">
              <div class="col-md-6 mt-3 panel list ">
                <li>
                  <h3>Year</h3>
                  <span>Annotations count </span>
                </li>
                <li *ngFor="let group of journalsYear$ | async">
                  <b>
                  <p class="text-black">{{ group._id }}</p>
                  </b>
                  <span>{{ group.count }}</span>
                </li>

              </div>

              <div class="col-md-6 my-auto">

                <ng-container [ngTemplateOutlet]="section"
                              [ngTemplateOutletContext]="{ title: 'Year', id: 'year', graph: (year$ | async) }"></ng-container>

              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="row m-2">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-title text-black mb-3 "><h2>Distribution of the DOME score</h2></div>

            <div class="row text-black">
              <div class="col-6  panel list">
                <li>
                  <h3>Score</h3>
                  <span>Annotations count </span>
                </li>
                <li *ngFor="let group of scoreOverall$ | async">
                  <b>
                    <p class="text-black">{{ group._id }}%</p>
                  </b>
                  <span>{{ group.count }}</span>
                </li>


              </div>
              <div class="col-6 my-auto">
                <ng-container [ngTemplateOutlet]="section"
                              [ngTemplateOutletContext]="{ title: 'DOME Score (overall)', id: 'score-total', graph: (score$ | async)?.['total']}"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row m-2">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-title text-black mb-3">
              <h2>DOME Score Distribution (Dataset section)</h2>
            </div>
            <div class="row text-black">

              <div class="col-6  my-auto panel list ">
                <li>
                  <h3>Score (Dataset)</h3>
                  <span>Annotations count </span>
                </li>
                <li *ngFor="let group of scoreDataset$ | async">
                  <b>
                  <p class="text-black">{{ group._id }}/4</p>
                  </b>
                  <span>{{ group.count }}</span>
                </li>


              </div>

              <div class="col-6 my-auto">
                <ng-container [ngTemplateOutlet]="section"
                              [ngTemplateOutletContext]="{ title: 'DOME Score (overall)', id: 'score-total', graph: (score$ | async)?.['dataset']}"></ng-container>
              </div>

            </div>
          </div>

        </div>


      </div>

      <div class="row m-2">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-title text-black"><h2>DOME Score Distribution (Optimization section)</h2></div>
            <div class="row">
              <div class="col-md-6 text-black my-auto panel list">
                <li>
                  <h3>Score (Optimization)</h3>
                  <span>Annotations count </span>
                </li>
                <li *ngFor="let group of scoreOptimization$ | async">
                  <b>
                    <p class="text-black">{{ group._id }}/8</p></b>
                  <span>{{ group.count }}</span>
                </li>


              </div>
              <div class="col-md-6">
                <ng-container [ngTemplateOutlet]="section"
                              [ngTemplateOutletContext]="{ title: 'DOME Score (overall)', id: 'score-total', graph: (score$ | async)?.['optimization']}"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row m-2">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-title text-black"><h2>Dome score distribution(Model section)</h2></div>
            <div class="row">
              <div class="col-md-6 my-auto text-black panel list">
                <li>
                  <h3>Score (Model)</h3>
                  <span>Annotations count </span>
                </li>
                <li *ngFor="let group of scoreModel$ | async">
                  <b>
                    <p class="text-black">{{ group._id }}/4</p></b>
                  <span>{{ group.count }}</span>
                </li>

              </div>
              <div class="col-md-6">
                <ng-container [ngTemplateOutlet]="section"
                              [ngTemplateOutletContext]="{ title: 'DOME Score (overall)', id: 'score-total', graph: (score$ | async)?.['model']}"></ng-container>

              </div>

            </div>


          </div>

        </div>

      </div>


      <div class="row m-2">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-title text-black"><h2>Dome score distribution(Evaluation section)</h2></div>
            <div class="row">
              <div class="col-md-6 my-auto text-black panel list">
                <li>
                  <h3>Score (Evaluation)</h3>
                  <span>Annotations count </span>
                </li>
                <li *ngFor="let group of scoreEvaluation$ | async">
                  <b>
                    <p class="text-black">{{ group._id }}/5</p></b>
                  <span>{{ group.count }}</span>
                </li>


              </div>
              <div class="col-md-6 my-auto">
                <ng-container [ngTemplateOutlet]="section"
                              [ngTemplateOutletContext]="{ title: 'DOME Score (overall)', id: 'score-total', graph: (score$ | async)?.['evaluation']}"></ng-container>

              </div>

            </div>


          </div>

        </div>

      </div>

      <div class="row m-2">


        <ng-template let-id='id' let-title='title' let-graph='graph' #section>


          <!-- Actual card -->

          <!-- Set card title -->

          <!-- Set card body -->

          <!-- Define statistics card body -->
          <div class="statistics-card-body">
            <!-- Case graph is not set -->
            <div class="d-flex align-items-center justify-content-center w-100 h-100" *ngIf="!graph">
              <!-- Show spinner -->
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <!-- Otherwise -->
            <div class="d-block overflow-hidden w-100 h-100" *ngIf="!!graph">
              <!-- Show graph -->
              <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
 
  </div>
</div>
