// Unset disabled color
*[readonly] {
  background-color:transparent;
}
#Uidbar{
z-index: 2;


}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.toast-success {
  background-color: #51a351 !important;
}
.toast-error {
  background-color: #bd362f !important;
}
.toast-warning {
  background-color: #f89406 !important;
}
.toast-info {
  background-color: #2f96b4 !important;
}
