.submit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 161px;
  border: 8px solid #F66729;
  background: #012136;
  font-family: Inter, sans-serif;

  h1 {
    margin-top: 65px;
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }

  p {
    max-width: 820px;
    margin-top: 18px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px; /* 162.5% */
  }

  button, .tutorial-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 34px;
    margin-bottom: 65px;
    padding: 11px 30px;

    color: #000;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    flex-shrink: 0;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

:host {
  display: block;
  width: 100%;
}

.right-small-arrow {
  width: 15px;
}
