<footer class="small-footer">
  <p>DOME Registry - Department of Biomedical Sciences - University of Padua, Italy</p>
  <div class="right">
    <span><img src="../../assets/UniPD_logo.svg" title="UNIPD" href="https://www.unipd.it" alt="UNIPD logo "></span>
    <span><img src="assets/DSB_logo.svg" title="Department of Biomedical science " alt="Department of Biomedical science logo"> </span>
    <span><img src="assets/bio-c-white.svg" title="Biocomputing Lab "  alt="Biocomputing Lab logo"></span>
    <span><img src="assets/ELIXIR_ITALY_colour_background.svg" title="Elixir Italy "  alt="Elixir Italy logo"></span>
  </div>
</footer>
