footer{
    z-index: 1;
    position: relative;
    background-color:#0F3E62;
    color: white;
}

main {
    padding-top: 75px; /* Equal to navbar height to prevent content from being hidden */
}

.nav-item{
    margin-left: 25px;
}
