

@keyframes rotate-arrow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }


  .dashboard {
    background: #172042;
    padding: 2em;
   
    grid-template-columns:1fr 1fr 1fr ;
    justify-content: center;
    width:calc(100% - 18em);
  
  }
.img{
  display: block;
  width: 50%;
  height: auto;
}
  .bi-arrow-right {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .btn:hover .bi-arrow-right {
    animation: rotate-arrow 0.3s forwards;
 
  }
  .btn-primary:hover{
    background-color: #F46B17;
  }

