<div id="outer-div" class="container-fluid  bg-gradient w-100 h-100 justify-content-center ">
    <div id="inner-div" class="  overflow-auto w-100 h-100">

        <div class="container text-white">
            <div class="row m-3">
            <div class="card">
            <div class="card-body">
                <div class="card-title  text-center mb-4"> How to submit</div>
                    <div class="row text-black ">
                    
                    <img  calss= "img-fluid" src="../../assets/dsw-logo.png" alt="Responsive image">


                    </div>    


            </div>

            </div>


           </div>



        </div>



























        
        <div class="align-items-center">
            <card-template class="d-block shadow-sm mt-3  w-50 h-50 text-center">
                <!-- Set card title -->
                <h4 class="text-center" title>Tutorial </h4>
                <!-- Set card body -->
                <div class="justify-content-center " body>
                    
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/QNPzQrIeTkk?si=hPzaHOIiNtfo1uRz"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
                        <a type="button" class="btn btn-primary" href="https://dome.ds-wizard.org/wizard/"
                        target="_blank">GO TO DATA STEWARDSHIP WIZARDS <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </card-template>
            
        </div>
        
    </div>
</div>